<section class="section">
  <div class="r-container">
    <div class="d-flex flex-column gap-3 text-center">
      <h3 class="font-1 fw-bold">Most <span class="accent-color">Favorite</span> Podcast</h3>
      <p class="mx-auto text-gray" style="max-width: 768px;">
        With decades of agile experience between them, Martin Hinshelwood and Simon Reindl have handpicked their three favourite Agile Actually episodes to showcase the essence of authentic agility. These episodes dive deep into practical applications,
        uncover common pitfalls, and explore innovative approaches to thrive in today’s dynamic environments. Whether you're a seasoned practitioner or just beginning your agile journey, these selections are a must-listen.
      </p>
      <div class="row row-cols-1 row-cols-lg-3 w-100 text-start">
        {{ $targetIds := slice "3LEaVHBStIllvP1hLkfkl3" "5gOaOrHXLCpnUvinv1RJGX" "4Ecjpkzht6Hl1s96OjKzFT" }}
        {{ $podcastPages := where .Site.Pages "Type" "podcasts" }}
        {{ range $podcastPages }}
          {{ if in $targetIds .Params.id }}
            {{ partial "podcastA.html" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
