<div class="d-flex flex-column gap-3 h-100">
  <div class="position-relative h-100">
    <a href="{{ .Permalink }}" class="stretched-link" style="z-index: 100;"></a>
    <!-- Stretched link -->
    <div class="overlay rounded-3"></div>
    {{ if .Params.preview }}
      <img src="{{ .Params.preview | relURL }}" alt="image" class="img-fluid rounded-3" />
    {{ else }}
      <img src="{{ "/image/dummy-img-600x500.jpg" | relURL }}" alt="image" class="img-fluid rounded-3" />
    {{ end }}
    <div class="position-absolute bottom-0 start-0 w-100 d-flex flex-column px-4 py-3">
      <h5 class="font-1 fw-bold lh-1">{{ .Title }}</h5>
      <div class="d-flex flex-row justify-content-center gap-5">
        <div class="d-flex flex-row align-items-center gap-2">
          <i class="fa-regular fa-clock accent-color"></i>{{- partial "duration-in-hours.html" .Params.duration }}
        </div>
        <div class="d-flex flex-row align-items-center gap-2">
          <i class="fa-solid fa-calendar-days accent-color"></i>
          {{ .Date | time.Format  "2 January 2006" }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bg-overlay" id="e119" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark-color">
      <iframe class="ifr-video" src="https://www.youtube.com/embed/{{ .Params.youtube_video_id }}?autoplay=0"></iframe>
    </div>
  </div>
</div>
