{{- define "main" }}
  <section class="section">
    <div class="r-container">
      <div class="d-flex flex-lg-row flex-column-reverse gap-3">
        <div class="col col-lg-4 pe-lg-4">
          <div class="d-flex flex-column gap-3">
            {{/* <div class="bg-secondary-color d-flex flex-column gap-3 rounded-3 px-5 py-4">
              <h5 class="accent-color border-bottom border-accent-color pb-2 font-1 fw-bold">Categories</h5>
              <ul class="list gap-2">
              <li>
              <div class="d-flex flex-row align-items-center gap-2">
              <i class="fa-solid fa-circle-arrow-right accent-color"></i>
              <a href="" class="link-white">Bussiness</a>
              </div>
              </li>
              <li>
              <div class="d-flex flex-row align-items-center gap-2">
              <i class="fa-solid fa-circle-arrow-right accent-color"></i>
              <a href="" class="link-white">Comedy</a>
              </div>
              </li>
              <li>
              <div class="d-flex flex-row align-items-center gap-2">
              <i class="fa-solid fa-circle-arrow-right accent-color"></i>
              <a href="" class="link-white">Lifestyle</a>
              </div>
              </li>
              <li>
              <div class="d-flex flex-row align-items-center gap-2">
              <i class="fa-solid fa-circle-arrow-right accent-color"></i>
              <a href="" class="link-white">Music</a>
              </div>
              </li>
              <li>
              <div class="d-flex flex-row align-items-center gap-2">
              <i class="fa-solid fa-circle-arrow-right accent-color"></i>
              <a href="" class="link-white">News</a>
              </div>
              </li>
              <li>
              <div class="d-flex flex-row align-items-center gap-2">
              <i class="fa-solid fa-circle-arrow-right accent-color"></i>
              <a href="" class="link-white">Tips & Tricks</a>
              </div>
              </li>
              </ul>
              </div>
              */}}
            <div class="bg-secondary-color d-flex flex-column gap-3 rounded-3 px-5 py-4">
              <h5 class="accent-color border-bottom border-accent-color pb-2 font-1 fw-bold">Recent Post</h5>
              <div class="d-flex flex-column gap-3">
                {{ $podcastPages := where (where .Site.Pages.ByDate.Reverse "Type" "podcasts") "Kind" "page" }}
                {{ range first 3 $podcastPages }}
                  <div class="row row-cols-2">
                    <div class="col-5">
                      {{ if .Params.preview }}
                        <img src="{{ .Params.preview | relURL }}" alt="image" class="img-fluid rounded-3" />
                      {{ else }}
                        <img src="{{ "/image/dummy-img-600x500.jpg" | relURL }}" alt="image" class="img-fluid rounded-3" />
                      {{ end }}
                    </div>
                    <div class="col-7 p-0 d-flex flex-column justify-content-center">
                      <a href="{{ .Permalink }}" class="link-white font-1">{{ .Title }}</a>
                      <span class="accent-color">{{ .Date | time.Format  "2 January 2006" }}</span>
                    </div>
                  </div>
                {{ end }}

              </div>
            </div>
            <div class="position-relative overflow-hidden rounded-3" style="background-image: url(/image/dummy-img-600x500.jpg);">
              <div class="image-overlay"></div>
              <div class="position-relative p-5 d-flex flex-column gap-3" style="z-index:2 ;">
                <h5 class="border-bottom border-accent-color pb-2 font-1 fw-bold">Send Your Question</h5>
                <p>Anything on Agile, Scrum, Kanban, and everyting inbetween!</p>
                <div>
                  <a href="https://github.com/nkdAgility/agileactually.com/discussions/" target="_blank" class="btn button font-1 fw-bold ls-2">CONTACT US</a>
                </div>
              </div>
            </div>
            <div class="bg-secondary-color d-flex flex-column gap-3 rounded-3 px-5 py-4">
              <h5 class="accent-color border-bottom border-accent-color pb-2 font-1 fw-bold">Follow Us On</h5>
              <div class="social-container mb-lg-0 mb-3">
                <a href="https://www.youtube.com/@AgileActually" class="social-item">
                  <i class="fa-brands fa-youtube"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-8">
          <div class="d-flex flex-column gap-3">
            <h2 class="font-1 fw-bold lh-1">{{ .Title }}</h2>
            <div class="d-flex flex-row gap-5">
              <div class="d-flex flex-row align-items-center gap-2">
                <i class="fa-solid fa-user accent-color"></i>
                <span>Simon & Martin</span>
              </div>
              <div class="d-flex flex-row align-items-center gap-2">
                <i class="fa-solid fa-calendar accent-color"></i>
                <span>{{ .Date | time.Format  "2 January 2006" }}</span>
              </div>
            </div>
            <div>
              <iframe
                width="100%"
                title="Spotify Embed: Power &amp; Politics! Communicating and Building Political Capital for Agile Transformations!"
                frameborder="0"
                allowfullscreen
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"
                src="https://open.spotify.com/embed/episode/{{ .Params.id }}/video?utm_source=oembed"
                style="aspect-ratio: 16 / 9;"></iframe>
              {{ .Content | markdownify }}
            </div>
            <div class="py-4">
              <script
                src="https://giscus.app/client.js"
                data-repo="nkdAgility/agileactually.com"
                data-repo-id="R_kgDONPXSvQ"
                data-category="Podcasts"
                data-category-id="DIC_kwDONPXSvc4CkTH-"
                data-mapping="og:title"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="dark"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{- end }}

{{- define "template" }}
  podcasts/single.html
{{- end }}
